# Standard ignores
.bundle
*.sw[nop]

# Vim
.vim/.netrwhist
.vim/spell
.vim/backup
.vim/plugged
.vim/local
## LOCAL VIM PLUGINS
.vim/pack/local/

# Git Config
.gitconfig.d/user
.gitconfig.d/local

# Tmux
.tmux/resurrect/
.tmux/user.conf
