# vim: set noexpandtab:
[alias]
	br = branch
	ci = commit
	co = checkout
	dc = diff --cached
	df = diff --color --no-prefix
	dfw = diff --word-diff=color
	git = !exec git
	lg = log -p --no-prefix
	lp = log --oneline --graph --color
	ls = ls-files
	pfwl = push --set-upstream --force-with-lease --force-if-includes origin HEAD
	st = status
	refresh = "!test -f .gitmodules_trash_safe && grep -v '^#' .gitmodules_trash_safe | grep -v '^$' | xargs -r trash-put; git submodule sync --recursive && git submodule update --init --recursive"
	whoami = !echo \"$(git config user.name) <$(git config user.email)>\"

	# typos
	cloen = clone
	ic = commit
	oc = checkout
	pll = pull
	pwfl = push --set-upstream --force-with-lease --force-if-includes origin HEAD
	pwlf = push --set-upstream --force-with-lease --force-if-includes origin HEAD
	upll = pull
[color]
	status = true
	diff = true
	ui = true
[core]
	pager = "less -F -X"
	editor = vim
	preloadindex = true
	excludesfile = ~/.gitconfig.d/gitignore
	attributesfile = ~/.gitconfig.d/gitattributes
[merge]
	tool = /usr/bin/vimdiff
[push]
	default = simple
	autoSetupRemote = true
[pull]
	ff = only
[help]
	autoCorrect = immediate
[init]
	defaultBranch = main
[include]
	# load local changes last so personal settings can override shared settings
	path = ~/.gitconfig.d/user # use this to set username/email
[rebase]
	autoStash = true
[rerere]
	enabled = true
