# Standard ignores
.bundle
*.sw[nop]

# Python
__pycache__/
*.pyc

# Shell history files
.bash_history
.zsh_history

# Logs
.log/

# Vim
.vim/.netrwhist
.vim/spell
.vim/backup
.vim/plugged
.vim/local
## LOCAL VIM PLUGINS
.vim/pack/local/

# Git Config
.gitconfig.d/user
.gitconfig.local
