[Desktop Entry]
Type=Application
Name=Annex Tray
Comment=Monitor Git Annex repositories
Exec=annex-tray
Icon=folder-remote-symbolic
Terminal=false
X-GNOME-Autostart-enabled=true
